// Grid system
.main {
  @include make-sm-column($main-sm-columns);
  .sidebar-primary & {
    @include make-sm-column($main-sm-columns - $sidebar-sm-columns);
  }
}
.sidebar {
  @include make-sm-column($sidebar-sm-columns);
}


.main {
  @include make-md-column($main-md-columns);
  .sidebar-primary & {
    @include make-md-column($main-md-columns - $sidebar-md-columns);
  }
}
.sidebar {
  @include make-md-column($sidebar-md-columns);
}

