/**
 * @license
 * MyFonts Webfont Build ID 3116149, 2015-10-29T03:19:37-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Calibri by Ascender
 * URL: http://www.myfonts.com/fonts/ascender/calibri/regular/
 * Copyright: &#x00A9; 2007 Microsoft Corporation. All Rights Reserved.
 * 
 * Webfont: CopperplateGothicLTPro-33BC by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/copperplate-gothic/pro-33-bc/
 * Copyright: Copyright &#x00A9; 2008 Linotype GmbH, www.linotype.com. All rights reserved. This font software may not be reproduced, modified, disclosed or transferred without the express written approval of Linotype GmbH. Copperplate Gothic This typeface is original 
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=3116149
 * Licensed pageviews: 250,000
 * 
 * © 2015 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/2f8c75");

  
@font-face {font-family: 'Calibri';src: url('../fonts/2F8C75_0_0.eot');src: url('../fonts/2F8C75_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2F8C75_0_0.woff2') format('woff2'),url('../fonts/2F8C75_0_0.woff') format('woff'),url('../fonts/2F8C75_0_0.ttf') format('truetype'),url('../fonts/2F8C75_0_0.svg#wf') format('svg');}
 
  
@font-face {font-family: 'CopperplateGothicLTPro-33BC';src: url('../fonts/2F8C75_1_0.eot');src: url('../fonts/2F8C75_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2F8C75_1_0.woff2') format('woff2'),url('../fonts/2F8C75_1_0.woff') format('woff'),url('../fonts/2F8C75_1_0.ttf') format('truetype'),url('../fonts/2F8C75_1_0.svg#wf') format('svg');}
 