html, body{
	height: 100%;	
}

body {
	background: #ffeeb2 url('../images/background-long.jpg');
	background-position: center top;
	background-size: cover;
	background-repeat: repeat-y;
	font-size: 19px;

}

h1, h2, h3, h4 {
	text-transform: uppercase;
}

h2 {
	margin-top: 0;
}

a {
	font-style: italic;
}

.btn-primary {
	background: transparent;
    border-radius: 0;
    border: 2px solid $brand-brown;
    color: $brand-brown;
    font-style: normal;
    text-transform: uppercase;
    font-family: $headings-font-family;
    padding-top: 12px;
    padding-bottom: 12px;
    min-width: 240px;
    font-size: 16px;
    
    
    
    &:hover, &:focus {
	background-color: transparent;
	border-color: darken($brand-brown, 6.5%);
	transition: all .2s ease-in-out;
	-webkit-transform: scale(0.98);
    -ms-transform: scale(0.98);
    transform: scale(0.98);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    color: darken($brand-brown, 6.5%);
    
    }
    
    &.btn-white {
	    border-color: #fff;
	    color: #fff;
	    
	     &:hover, &:focus {
		    border-color: $gray-lighter; 
		    color: $gray-lighter;
    	}
    }
    
    &.btn-brown-solid {
	    background-color: $brand-brown-lt;
	    border-color: darken($brand-brown-lt, 6.5%);
	    font-family: Montserrat, $font-family-sans-serif;
	    color: #fff;
	    font-size: 12px;
	    
	     &:hover, &:focus {
		    border-color: darken($brand-brown-lt, 13%); 
		    color: $gray-lighter;
		    background-color: darken($brand-brown-lt, 6.5%);
    	}
    }

}


/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}


