

footer, footer a {
	font-family: $font-family-sans-serif;
	font-weight: normal;
	background-color: #005840;
	color: #a28753;
	padding: 30px 0 20px;
    text-align: center;
    font-style: normal;
    
    span {
	    display: block;
    }
    
      
    
    	
	.footer-social {
		
			padding-bottom: 6px;
			transition: all .2s ease-in-out;
			
			a {
				width: 25px;
				height: 25px;
				display: inline-block;
				background-position: center top;
				background-repeat: no-repeat;
				background-size: cover;
				text-indent: -99999px;
				padding: inherit;
				
				&#dome-twitter {
					background-image: url('../images/dome-coffee-twitter.png');
				}
				
				&#dome-facebook {
					background-image: url('../images/dome-coffee-facebook.png');
				}
				
				&:focus {
					outline: none;
				}
				
				&:hover, &:focus {
					background-position: center bottom;				}
								
				}
	}
}

footer  a {
	background-color: transparent !important;
}

footer section {
	
	background: inherit !important;
	padding: inherit !important;

	
	
}

/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/




    /*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
        
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
	    
	    footer span {
		    display: inline-block;
	    }

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }


