@import url(https://fonts.googleapis.com/css?family=Montserrat:700);



header {

		a {
			font-style: normal;
		}
		border-bottom: 5px solid $brand-border;

		.navbar {
		position: relative;
		text-transform: uppercase;
		font-size: 13px;
		margin-bottom: 0;

		.find-dome {
			font-family: Montserrat, sans-serif;
			text-align: center;
			font-size: 14px;
			line-height: 14px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 20px;
			display: block;
			transition: all .2s ease-in-out;
			color: $brand-green;

			&:focus, &:hover {
				color: darken($brand-green, 6.5%);
				}
		}

			.navbar-default {

				height: 100%;

				.navbar-nav>li>a {
				display: inline-block;
				}
				.navbar-nav>li>a:focus, .navbar-nav>li>a:hover, .navbar-nav>.active>a {
				background: transparent;

					span {
					color: $brand-green;
					border-bottom: 2px solid $brand-green;
					margin-bottom: -2px;
					}
				}

			}


		.nav li {
			font-family: $headings-font-family;
			font-size: 16px;
			color: $brand-green-text;

			a {
			color: $brand-green-text;
			font-weight:normal;
			}

			&.menu-separator {
				border-top: 1px solid $brand-brown;
				margin-top: 5px;
				a {
					display: none;
				}
			}

		}
				#main-nav {

				    position: absolute;
				    padding: 9px 10px;
				    margin: 0;
				    background-color: transparent;
				    background-image: none;
				    border: 1px solid transparent;
				    border-radius: 4px;
				    top: 50%;
				    transform: translateY(-50%);
				    z-index: 1;
				    transition: all .2s ease-in-out;

					.icon-bar {
						background-color: $brand-green;
						width: 24px;
					    height: 2px;
					    border-radius: 1px;
					    margin: 5px 0;
						&:hover, &:focus {
						color: darken($brand-green, 6.5%);
						-webkit-transform: scale(1.1) ;
						-ms-transform: scale(1.1) ;
						transform: scale(1.1) ;
					}
				}
			}

			.js-offcanas-done {
					z-index: auto;
					&.in {
						z-index: 999;
					}
				}


			.navbar-offcanvas {
				width: 100%;
				-webkit-box-shadow: none;
				box-shadow: none;



				.navbar-toggle.offcanvas-toggle {
					background-color: #ffeeb6;
					width: 50px;
					margin: 0;
					border-radius: 0;
					color: $brand-green;
					height: 55px;
					border-bottom: 1px solid $brand-brown;
					transition: all .2s ease-in-out;


						&:hover, &:focus {
							color: darken($brand-green, 6.5%);

							i {
							-webkit-transform: scale(1.1) ;
							-ms-transform: scale(1.1) ;
							transform: scale(1.1) ;
							}
						}
				}

			}

			.collapse {
				display: inherit;
				margin-left: 0;
				margin-right: 50px;


				.container {
					padding-left: 0;
					padding-right: 0;
				}
			}


			.navbar-header {


				.brand {
			    margin-left: auto;
			    margin-right: auto;
			    display: block;
			    padding: 16px 0 16px;
				width: 50%;
				max-width: 200px;
				position: relative;
				z-index: 1;

				img {
					max-width: 100%;
					height: auto;
				}
			}


			}
		}
}

//Nav Items

.dropdown-menu {
	background-color: $navbar-default-bg;

	&>li>a:focus, &>li>a:hover {
		background-color: transparent;
		color: $brand_red;
	}


}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	background-color: transparent;
	color: inherit;
}





/* RESPONSIVE CSS
-------------------------------------------------- */

/*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */
    @media only screen and (min-width : 320px) {

    }

    /* Extra Small Devices, Phones */
    @media only screen and (min-width : 480px) {

    }

    /* Small Devices, Tablets */
    @media ( min-width : 768px) {

	    header {

			.navbar {

					.find-dome {
						display: none;
					}

					/* Customize the navbar links to be fill the entire space of the .navbar */
					.navbar-inner {
					    padding: 0;
					}

					.navbar-header {
						width: 100%;

						.brand {
							width: 237px;
							padding: 52px 0 26px;

						}
					}



					.nav {
					    margin: 0;
					    display: table;
					    width: 100%;
					    padding: 0;
					}

					.nav ul {
						border-top:$brand-border 1px solid;
						padding: 0 5%;

					}

					.nav li {
					    display: table-cell;
					   float: none;

					   ul li {
					   	float: left;
					   }
					   					}

					.nav li a {
						text-align: center;
					    padding-left: 12px;
					    padding-left: 12px;
					}

					.navbar-offcanvas {
					height: inherit !important;
					}
					.collapse {

					-webkit-box-shadow: none;
					box-shadow: none;
					margin-left: auto;
					margin-right: auto;

						.container {
							width: auto;
						}

					}

					.container {
						margin-left: auto;
						margin-right: auto;
					}

					.navbar-default {

					background: transparent;

						.navbar-nav>li>a {
							padding-top: 20px;
							padding-bottom: 20px;
							display: block;
						}
						.navbar-nav>li>a:focus, .navbar-nav>li>a:hover, .navbar-nav>.active>a {
						background-color: transparent;
						}
					}

					.container {
						width: inherit;
						padding-left: inherit;
						padding-right: inherit;
					}
			}

		}


	}

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

	    header {

			.navbar {

					.nav li a {
						padding-left: inherit;
					    padding-left: inherit;

					}

					.container {
						width: 970px;
					}
			}



		}


    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

	   header {

			.navbar {

					.container {
						width: 1190px;
					}

			}

		}

    }




