
.wpsl-gmap-wrap  {
	width: 100%;
	height: auto;
		
		
		}

.wpsl-gmap-canvas {
		border-style: solid;
		border-width: 20px 20px;
		-moz-border-image: url('../images/map-bg.png') 26 stretch;
		-webkit-border-image: url('../images/map-bg.png') 26 stretch;
		-o-border-image: url('../images/map-bg.png') 26 stretch;
		border-image: url('../images/map-bg.png') 26 stretch;
		background: transparent !important;
		
				}


.wpsl-search {
	margin-bottom: 0 !important;
    padding: 0 !important; 
    background: transparent !important; 
	
	#wpsl-search-wrap {
		float: left;
		width: 100%;
		
		.wpsl-input {
			width: 100% !important;
			
		}
		
		input {
			border-color: inherit;
			width: 98%;
		}
		
		.wpsl-select-wrap {
		width: 100%;
		float: right !important;
			}
	}
	
	
	#wpsl-radius {
		
		float: right !important;
		
		label, .wpsl-dropdown {
			width: auto !important;
		}
			 
	}
	
	.wpsl-search-btn-wrap {
		float: right !important;
		margin-right: 0 !important;
		width: 100% !important;
	}
	
	#wpsl-search-btn {
		background: url('../images/map-button.png') no-repeat top !important;
		background-size: cover !important;
		padding: 7px 10px;
	    line-height: 1.428571429;
	    /* font-weight: 400; */
	    /* color: #7c7c7c; */
	    /* background-color: #e6e6e6; */
	    /* background-repeat: repeat-x; */
	    box-shadow: none !important;
	    text-indent: -9999px;
	    width: 120px !important;
		height: 50px !important;
		border: none !important;
		transition: all .2s ease-in-out;
		float: right !important;
		
		&:focus {
			outline: none;
		}
		
		&:hover {
			-webkit-transform: scale(0.95);
			-ms-transform: scale(0.95) ;
			transform: scale(0.95) ;
		}
		&:focus {
			-webkit-transform: scale(1.1) ;
			-ms-transform: scale(1.1) ;
			transform: scale(1.1) ;		
			}
		
		
		
		}
}

.results, .wpsl-search  {
	font-size: 14px !important;
}





/* RESPONSIVE CSS
-------------------------------------------------- */

/*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
       
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {
	    
	    #wpsl-search-wrap {
		.wpsl-input {
			width: 276px !important;
			
		}
		.wpsl-select-wrap {
			width: 140px !important;
			
			
			#wpsl-radius {
					margin-right: 0;
					width: auto !important
				}
			
			
			
		}
	}

	   
    }

    /* Small Devices, Tablets */
    @media ( min-width : 768px) {
	    
	    #wpsl-search-wrap {
		.wpsl-input {
			width: 430px !important;
			
		}
		.wpsl-select-wrap {
			width: 140px !important;
			
			
			#wpsl-radius {
					margin-right: 0;
					width: auto !important
				}
			
			
			
		}
	}
	    
	   	    
	}

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
	    
    #wpsl-search-wrap {
		.wpsl-input {
			width: 204px !important;
			
		}
		.wpsl-select-wrap {
			width: 140px !important;
			
			#wpsl-radius {
					margin-right: 0;
				}
			
			
			
		}
	}


    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
	    
		#wpsl-search-wrap {
			.wpsl-input {
				width: 220px !important;
				
			}
			.wpsl-select-wrap {
				width: 190px !important;
				
				
				
			}
		}

    }
    
    

