

.modal-content {
	position: relative;
    /* background-color: #fff; */
    border: none;
    border-radius: 0; 
    -webkit-box-shadow: none;
    	box-shadow: none;
    -webkit-background-clip: padding-box; 
    background-clip: padding-box; 
    outline: 0;
    background: url('../images/paper-bg.png') center center transparent no-repeat;
    background-size: 100% 100%;
    transform: translate(0px, 0px) translateZ(0px) rotate(-4deg) scale(1, 1);
    padding-top: 40px;
}

.modal-header, .modal-footer {
	border: none;
}

.modal-hide-small {
	display: none;
}


#contact button.close {
	background: url('../images/modal-close-button.png') no-repeat;
	height: 30px;
	width: 30px;
	text-indent: -999999px; 
	outline:none;
	opacity: 1;
}
#contact .modal-header img {
	width: 200px;
    float: right;
    margin-right: -60px;
    margin-top: -40px;
    }

#contact .modal-body img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 160px;
}

.contact-us .alert.wpcf7-mail-sent-ok.alert-success {
			display: none !important;
			}


/*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
	    #contact .modal-header img {
		    display: none;
		    }
		#contact .modal-body {
			padding-left: 20px;
			padding-right: 20px;    
	    }
	    
	    
        
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {
	    
	    #contact .modal-header img {
		    display: inherit;
		    }
		#contact .modal-body {
			padding-left: 40px;
			padding-right: 40px;    
	    }
	    
	    .modal-hide-small {
		display: inherit;
}
	    

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
	    
		#contact .modal-body {
			padding-left: 60px;
			padding-right: 60px;    
	    }
	    
	    #contact .modal-content {
		    padding-top: 80px;
	    }
	    
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }