.carousel {
	height: 300px;
	
	}
	
	
.carousel-inner, .item, .active  {
	height: 100%;
}

.carousel {
	margin-bottom: 0px;
}

.carousel-caption {
	left: 0;
	right: 0;
	bottom: 50px;
	background: rgb(9,9,9);
	background: rgba(9,9,9,0.3);
	z-index: 10;
	text-align: left;
	font-family: $headings-font-family;	
	font-size: 20px;
	line-height: 1;
	
	&.no-background {
		background: none;
	}
}
.carousel-inner {
	background:url('../images/spinner.gif') no-repeat center center;
	background-size: 60px;
}
.carousel .item {
	background-color: rgba(0, 0, 0, 0.1);
	
}

.carousel .carousel-inner .bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.carousel-indicators li, .carousel-indicators .active {
	margin-left: 6px;
	margin-right: 6px; 
}

// Start Carousel Fade
.carousel-fade {
    .carousel-inner {
        .item {
            transition-property: opacity;
        }
        
        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }

    .carousel-control {
        z-index: 2;
    }
}




//End Carousel Fade





/* RESPONSIVE CSS
-------------------------------------------------- */

/*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
       
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {
	    
	    .carousel {
	        height: 400px;
	        }

    }
    


    /* Small Devices, Tablets */
    @media ( min-width : 768px) {
	    
	    .carousel {
	        height: 80%;
			height: -moz-calc(100% - 268px);
			height: -webkit-calc(100% - 268px);
			height: calc(100% - 268px);  // reduce the hieght for the amount of the header
						}
	
	/* Bump up size of carousel content */
	.carousel-caption {
		font-size: 22px;
		bottom: 70px;
			}
}

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
	    
	    .carousel-caption {
		font-size: 26px;
		bottom: 80px;
			}

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
	    .carousel-caption {
		font-size: 30px;
		bottom: 90px;
			}

    }
    
    

